{% extends "_base.html" %}

{% block title %}Lista de produtos{% endblock title %}

{% block content %}

    <div class="container mt-5 mb-5">
        <div class="row align-items-center mb-4">
            <div class="col-md-6">
                <h1 class="display-5 fw-bold">Lista de produtos</h1>
            </div>
            <div class="col-md-6 text-md-end">
                <a href="{% url "products:create" %}" class="btn btn-primary btn-sm shadow-sm">
                    <i class="bi bi-plus-lg me-2"></i>Novo produto
                </a>
            </div>
        </div>

        <form method="get" class="mb-4">
            <div class="input-group input-group-md shadow-sm">
                <input type="text" name="q" class="form-control" placeholder="Buscar por nome..." value="{{ request.GET.q }}">
                <button class="btn btn-outline-secondary" type="submit">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </form>

        <table class="table">
            <thead>
                <tr>
                    <th>Produto</th>
                    <th>Valor</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for product in page_obj %}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>
                            {% if product.promotional_value %}
                                <span class="text-decoration-line-through text-muted me-2">R$ {{ product.value }}</span>
                                <span class="fw-bold text-success">R$ {{ product.promotional_value }}</span>
                            {% else %}
                                <span class="fw-bold">R$ {{ product.value }}</span>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url "products:update" product.slug %}" class="text-primary">Editar</a>
                            <a href="{% url "products:delete" product.id %}" class="text-danger">Excluir</a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td class="text-center" colspan="3">
                            {% if request.GET.q %}
                                Nenhum produto encontrado.
                            {% else %}
                                Nenhum produto cadastrado.
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% include "partials/_pagination.html" %}
    </div>

{% endblock content %}